RewriteEngine On

# Redirection des requêtes vers les fichiers CSS
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.css -f
RewriteRule ^([^/]+)/?$ $1.css [L]

# Redirection des requêtes vers les fichiers PHP
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^([^/]+)/?$ $1.php [L]
